.fa-credit-card {
  font-size: 20px;
  margin-top: 15px;
  padding-right: 10px;
  color: #889499;
}

.p-button-text {
  font-weight: 600;
  font-size: 16px;
  background-color: transparent !important;
  color: #165c7d !important;
  border-color: transparent !important;
}
