@import "./colors.scss";


.p-steps .p-steps-item.p-highlight .p-steps-number {
  background: $primary-color !important;
  color: $primary-color !important;
}

.p-steps .p-steps-item .p-steps-number {
  background: #c6ced1 !important;
  color: #c6ced1 !important;
}

.p-steps .p-steps-item .p-menuitem-link .p-steps-number {
  min-width: 1rem !important;
  height: 1rem !important;
  line-height: 2rem !important;
  font-size: 1rem !important;
  z-index: 1 !important;
  border-radius: 50% !important;
}

.p-steps .p-steps-item .p-steps-title {
  font-weight: 700 !important;
  color: #889499 !important;
  font-weight: 400 !important;
  font-size: 14px !important;
}

.p-steps .p-steps-item.p-highlight .p-steps-title {
  font-weight: 700 !important;
  color: $primary-color !important;
  font-weight: 400 !important;
  font-size: 14px !important;
}


.p-card {
  min-height: 204px;
  min-width: 270px;
}

.p-card-subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 15px;
  color: $light-gray;
}

.p-card-title {
  font-style: normal !important;
  font-weight: 700 !important;
  font-size: 14px !important;
  line-height: 5px !important;
  color: #040f14;
}

.p-card .p-card-content {
  padding: 0 !important;
}

.p-button-primary-customized .p-button {
  color: #ffffff !important;
  background: $primary-color !important;
  border: 1px solid $primary-color !important;
  padding: 0.75rem 1.25rem !important;
  border-radius: 2px !important;
}

.p-button.p-button-outlined {
  background-color: transparent !important;
  color: $primary-color !important;
  border: 1px solid !important;
  border-radius: 2px !important;
}


.p-button-text-customized .p-button-text {
  font-weight: 600;
  font-size: 16px;
  background-color: transparent !important;
  color: $primary-color !important;
  border-color: transparent !important;
}
