
@import "./colors.scss";

.primary-color {
  background-color: $primary-color;
}

.color-light-gray {
  color: $light-gray;
}

.color-neltral-gray {
  color: $neltral-gray;
}

.error-msg {
  margin-top: 0.25rem;
  font-size: 12px;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: 0.0333333333em;
  color: #f44336;
}


button {
  font-weight: 600 !important;
  font-size: 14px !important;
  height: 40px !important;
}

input {
  height: 40px;
  border: 1px solid #889499;
  border-radius: 2px !important;
}
