footer {
  box-shadow: 0 1px 1px 1px #0003, 0 1px 1px #00000024, 0 1px 1px #0000001f;
  width: 100%;
  height: 100px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 5;
  background-color: white;

  .content {
    padding: 30px 0px 0px 150px;
  }
}

.p-button {
  color: #ffffff !important;
  background: #165c7d !important;
  border: 1px solid #165c7d !important;
  padding: 0.75rem 1.25rem !important;
  border-radius: 2px !important;
}

.p-button.p-button-outlined {
  background-color: transparent !important;
  color: #165c7d !important;
  border: 1px solid !important;
  border-radius: 2px !important;
}

@media (max-width: 1300px) {
  .content {
    padding: 30px 0px 0px 40px !important;
  }
}

@media (max-width: 575px) {
  footer {
    height: 135px;
  }

  .btn-account-opening{
    padding-top: 10px !important;
  }
}
