.fa-user {
  font-size: 20px;
  margin-top: 15px;
  padding-right: 10px;
  color: #889499;
}

.fa-circle-check {
  font-size: 20px;
  margin-top: 15px;
  padding-right: 10px;
  color: #00c246;
}

.fa-circle-xmark {
  font-size: 20px;
  margin-top: 15px;
  padding-right: 10px;
  color: red;
}
