<div class="mt-5">
  <h2 class="fw-500 fs-16">Informe o CPF do futuro cooperado (a)</h2>
  <span class="fw-400 fs-11 color-neltral-gray">
    Se necessário, você poderá duplicar uma conta existente ou pausar e retomar
    este cadastro futuramente. Digite apenas os números (sem pontos ou traços).
  </span>

  <div class="form mt-2">
    <strong>CPF</strong>
    <div class="d-flex">
      <input type="text" pInputText placeholder="000.000.000-00" />

      <div class="ml-5">
        <button pButton type="button" label="Click"></button>
      </div>
    </div>
  </div>
</div>
